* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0f0f23;
  color: #009900;
  position: relative;
}

p:hover {
  color: #00cc00;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-page {
  height: 100vh;
}

.main-body {
  
}

.modal {
  position: absolute;
  top: 800%;
  left: 40%;
  background: #000;
  border: 3px solid #009900;
  padding: 20px;
}

#typing-fact, #modal-heading{
  color: #00cc00;
  padding: 5px 0;
}

.bg-blur {
  backdrop-filter: blur(10px);
}

#banner{
  display: block;
  unicode-bidi: isolate;
  color: #009900;
  /* font-size: calc(1vw + 7px); */
  line-height: normal;
  text-shadow: 0 0 10px #00cc00;
}

.loading-block{
  display: flex;
}

#loading-bar{
  padding-right: 10px;
}
