* {
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  background-color: #0f0f23;
  color: #009900;
  position: relative;
  width: 100vw;
}

.main-body {
  height: 100vh;
}

.main-block {
}

img {
  width: 140px;
}

h2 {
  color: #00cc00;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-page {
  height: 100vh;
}

.modal {
  width: fit-content;
  background: #000;
  border: 3px solid #009900;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1000;
}

#typing-fact,
#modal-heading {
  color: #00cc00;
  padding: 5px 0;
}

.bg-blur {
  backdrop-filter: blur(10px);
}

#banner {
  color: #00cc00;
  line-height: normal;
  text-shadow: 0 0 10px #00cc00;
  display: flex;
}

.loading-block {
  display: flex;
  color: #00cc00;
}

#loading-bar {
  padding-right: 10px;
}

#email {
  margin-top: 5px;
  margin-bottom: 10px;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

#command-block {
  width: 35vw;
}

.command-input {
  background: none;
  outline: none;
  border: none;
  color: #009900;
  padding-left: 5px;
}

#prompt-line input {
  width: 275px;
}

.prompt-response {
  color: #cccccc;
}

.description-block {
  background-color: #033a16;
  padding: 2px;
  margin: 10px 0;
  width: fit-content;
}

.github-lines {
  padding: 0 2px;
}

.github-lines p {
  color: #aff5b4;
}

a {
  color: #009900;
}

#fact {
  text-decoration: underline;
}

a:hover,
#fact:hover {
  color: #00cc00;
  cursor: pointer;
}

.repo-links {
  color: #cccccc;
  margin-left: 15px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 400px) {
  img {
    width: 100px;
  }

  .links-container {
    flex-direction: column;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .modal {
    left: 20%;
  }

  .loading-block {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 120px;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #banner {
    flex-direction: column;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .modal {
    left: 30%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modal {
    left: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
